.oddbook-head {
  text-align: center;
  color: #2E5A36;
  font-size: 30pt;
  font-family: 'Odd-Medium';
  padding-top: 10px;
}

.oddbook-search {
  border: #F2B63E solid 3px;
  text-align: center;
  width: 80vw;
  background-color: white;
}
