.user-show-bg {
  background-color: white;
  height: 620px;
}

.user-show-link {
  text-decoration: none;
  color: black;
  &:hover {
    color: black;
  }
}

.user-show-head {
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  border: solid #F2B63E 5px;
  border-radius: 3px;
  width: 87vw;
  text-align: center;
}
