<div class="container" data-controller="search-recipes">
  <div class="d-flex mt-3 justify-content-center">
    <%= form_with url: recipes_path, method: :get, html: { class: "mb-3", data: { search_recipes_target: "form" } } do |f| %>
      <%= f.text_field :query, style: "border: #F2B63E solid 3px; text-align: center; width: 80vw; background-color: white;", class: "form-control", placeholder: "Search for a recipe", value: params[:query], data: { search_recipes_target: "input", action: 'keyup->search-recipes#update' } %>
    <% end %>
  </div>
  <%= render "list", recipes: @recipes %>
</div>
