<% @meal_plan.each do |meal_plan| %>
  <% meal = meal_plan.recipe_id %>
  <p><%= date = meal_plan.date %></p>
 <% recipe = Recipe.find(meal) %>
 <p><%= recipe.name %></p>
 <p><%= recipe.cooking_time %></p>
 <p><% review = Review.find(recipe.id) %></p>
 <%= review.rating %>
<% end %>
