<div class="container" data-controller="search-recipes">
  <div class="d-flex flex-column align-items-center py-2">
      <h2 style="color: #2E5A36; font-weight: 700; font-size: 26pt;">OddBook</h2>
  </div>
  <%= render "recipes/list", recipes: @recipes %>
</div>
