
<div class="container user-show-bg">
  <div class="d-flex flex-column align-items-center justify-content-between pt-3">
    <%= link_to recipes_path, class: "user-show-link" do %>
      <h2 class="py-3 my-4 user-show-head" >Recipes</h2>
    <% end %>

    <% unless current_user.oddbox.nil? %>
      <%= link_to oddbox_path(@oddbox), class: "user-show-link" do %>
        <h2 class="py-3 my-4 user-show-head" >OddBox</h2>
      <% end %>
    <% end %>

    <h2 class="py-3 my-4 user-show-head">Shopping List</h2>

    <%= link_to user_meal_plan_path(current_user), class: "user-show-link" do %>
      <h2 class="py-3 my-4 user-show-head">Calendar</h2>
    <% end %>

    <%= link_to user_oddbook_path(current_user), class: "user-show-link" do %>
      <h2 class="py-3 my-4 user-show-head" >OddBook</h2>
    <% end %>
  </div>
</div>
