
<div class="container" style="background-color: white; height: 620px;">
  <div class="d-flex flex-column align-items-center pt-5 justify-content-between" style="height: 600px;">
    <%= link_to recipes_path, style: "text-decoration: none; color: black;" do %>
      <h2 class="py-3" style="font-weight: 600; font-family: 'Inter', sans-serif; border: solid #F2B63E 5px; border-radius: 3px; width: 87vw; text-align: center;" >Recipes</h2>
    <% end %>

    <% unless current_user.oddbox.nil? %>
      <%= link_to oddbox_path(@oddbox), style: "text-decoration: none; color: black;" do %>
        <h2 class="py-3" style="font-weight: 600; font-family: 'Inter', sans-serif; border: solid #F2B63E 5px; border-radius: 3px; width: 87vw; text-align: center;" >OddBox</h2>
      <% end %>
    <% end %>

    <h2 class="py-3" style="font-weight: 600; font-family: 'Inter', sans-serif; border: solid #F2B63E 5px; border-radius: 3px; width: 87vw; text-align: center;">Shopping List</h2>

    <h2 class="py-3" style="font-weight: 600; font-family: 'Inter', sans-serif; border: solid #F2B63E 5px; border-radius: 3px; width: 87vw; text-align: center;">Calendar</h2>

    <%= link_to user_oddbook_path(current_user), style: "text-decoration: none; color: black;" do %>
      <h2 class="py-3" style="font-weight: 600; font-family: 'Inter', sans-serif; border: solid #F2B63E 5px; border-radius: 3px; width: 87vw; text-align: center;" >OddBook</h2>
    <% end %>
  </div>
</div>
