<div class="container" style="background-color: white; height: 620px;">
  <div class="d-flex flex-column align-items-center pt-5 justify-content-between" style="height: 600px;">
    <h2 class="py-3" style="font-weight: 600; font-family: 'Inter', sans-serif; border: solid #F2B63E 5px; border-radius: 3px; width: 73vw; text-align: center;">Recipes</h2>
    <%= link_to oddbox_path(@oddbox), style: "text-decoration: none; color: black;" do %>
      <h2 class="py-3" style="font-weight: 600; font-family: 'Inter', sans-serif; border: solid #F2B63E 5px; border-radius: 3px; width: 73vw; text-align: center;" >OddBox</h2>
    <% end %>
    <h2 class="py-3" style="font-weight: 600; font-family: 'Inter', sans-serif; border: solid #F2B63E 5px; border-radius: 3px; width: 73vw; text-align: center;">Shopping List</h2>
    <h2 class="py-3" style="font-weight: 600; font-family: 'Inter', sans-serif; border: solid #F2B63E 5px; border-radius: 3px; width: 73vw; text-align: center;">Calendar</h2>
    <h2 class="py-3" style="font-weight: 600; font-family: 'Inter', sans-serif; border: solid #F2B63E 5px; border-radius: 3px; width: 73vw; text-align: center;">OddBook</h2>
  </div>
</div>
