<h1 style="font-family: 'Odd-Medium'; font-size: 30px;text-align: center; margin: 15px;">WHAT DIFFERENCE HAVE WE MADE TO DATE?</h1>
<div class="img-home" style="display: flex; flex-direction: column; align-items: center; gap: 35px; padding-top: 15px;">
  <%= image_tag "fruit_veg_save.png", style: "width: 200px;" %>
    <div class="info-text">
      <h1>24,676 tonnes saved</h1>
      <p>That’s equivalent to how much food 53,644 people would eat in a year.</p>
    </div>
  <%= image_tag "water_save.png", style: "width: 200px;" %>
    <div class="info-text">
      <h1>2,621 million litres saved</h1>
      <p>That’s how much water 44,327 people would drink in their lifetime.</p>
    </div>
  <%= image_tag "carbon_save.png", style: "width: 200px;" %>
    <div class="info-text">
      <h1>26,857 tonnes saved</h1>
      <p>That’s enough energy to power 6,140 houses for a year.</p>
    </div>
<div style="padding-bottom: 25px;"></div>
</div>
