<div class="container text-center mt-3">
  <h1>OddRecipes</h1>
  <br>
<div class="container">
  <img src="https://images.prismic.io/oddbox/78e4a0f8-b7fe-490a-a6df-13e24b1279ab_hero-banner.jpg?ixlib=gatsbyFP&auto=compress%2Cformat&fit=max&q=50&w=1678&h=987" alt="OddBox" style="    inline-size: -webkit-fill-available;">
</div>
</div>
