<h1 style="font-family: 'Odd-Medium'; font-size: 30px;text-align: center; margin: 15px;">WHAT DIFFERENCE HAVE WE MADE TO DATE?</h1>
<div class="img-home" style="display: flex; flex-direction: column; align-items: center; gap: 35px; padding-top: 15px;">
<%= image_tag "fruit_veg_save.png", style: "width: 200px;" %>
<%= image_tag "water_save.png", style: "width: 200px;" %>
<%= image_tag "carbon_save.png", style: "width: 200px;" %>
<div style="padding-bottom: 25px;"></div>
</div>
