.navbar-lewagon {
  justify-content: space-between;
  background: #2E5A36;
}

.navbar-lewagon .navbar-collapse {
  justify-content: space-between;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
