.navbar-lewagon {
  justify-content: flex-end;
  background: #ffffff;
  border-bottom: ridge;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: flex-end;
    padding-right: 15px;
    padding-top: 14px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
