// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery-bar-rating/dist/themes/fontawesome-stars";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/_footer";
@import "users/_mealplan";

// font for main names
@font-face {
  font-family: 'Odd-Medium';
  src: url('../stylesheets/fonts/Odd-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
}

// names of recipes, Month names, Week names
@font-face {
  font-family: 'Interstate-regular';
  src: url('../stylesheets/fonts/Interstate-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

//small text
@font-face {
  font-family: 'Interstate-light';
  src: url('../stylesheets/fonts/Interstate-light.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
  background-color: white;
}
