.meal-plan-show {
  position: relative;


  h1 {
    font-family: 'Odd-Medium';
    font-size: 38px;
    text-align: center;
    color: #2E5A36;
    margin-top: 10px;
  }

  .name-month {
    font-family: 'Interstate-regular';
    text-align: center;
    margin-bottom: 6px;
    font-size: 20px;
    color: #F2B63E;
  }

  .date-meal-plan{
    font-size: 22px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    font-family: Interstate-light;
  }

  .stars-meal-plan {
    position: absolute;
    right: 10px;
    bottom: 0;
    color: black;
    margin-bottom: none;

    .stars-index {
      margin-bottom: 7px;
    }
  }

  .card-product {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin: 13px;
    position: relative;
    border: 2px #2E5A36 solid;
    border-radius: 5px;
  }

  .card-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;
    padding: 7px;
  }

  .card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #000000;
    font-family: 'Interstate-regular';
  }

  .card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    color: #000000;
    font-family: 'Interstate-light';
  }

  .card-product .card-product-infos {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 13px;
  }

  a {
    text-decoration: none;
  }

  .date-show{
    display: flex;
    gap: 37px;
    justify-content: center;
    font-family: 'Interstate-regular';
  }

  .number-btn{
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 2px #F2B63E solid;
    min-height: 35px;
    max-height: 35px;
    min-width: 35px;
    max-width: 35px;

  }
  .date-bg {
    background-color: #F2B63E;
  }

  .arrow-r {
    color: black;
    font-size: 25px;
    position: absolute;
    top: 45px;
    left: 22px;
  }

  .arrow-l {
    color: black;
    font-size: 25px;
    position: absolute;
    top: 45px;
    right: 22px;
  }

.carousel {
  display: flex;
  flex-direction: column;

}

}
