.meal-plan-show {
  position: relative;

  h1 {
    text-align: center;
    color: #2E5A36;
    font-size: 30pt;
    font-family: 'Odd-Medium';
    padding-top: 10px;
  }

  .name-month {
    font-family: 'Interstate-regular';
    text-align: center;
    margin-bottom: 6px;
    font-size: 20px;
    color: #F2B63E;
  }

  .date-meal-plan{
    font-size: 22px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    font-family: Interstate-light;
  }

  .stars-meal-plan {
    position: absolute;
    right: 10px;
    bottom: 0;
    color: black;
    margin-bottom: none;

    .stars-index {
      margin-bottom: 7px;
    }
  }

  .card-product {
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin: 13px;
    position: relative;
    border: 2px #2E5A36 solid;
    border-radius: 5px;

    .fa-times-circle {
      position: absolute;
      right: -9px;
      top: -9px;
      font-size: 22px;
      text-decoration: none;
      color: #ffa502;
      background-color: white;
    }
  }

  .card-product img {
    height: 100%;
    width: 120px;
    height: 120px;
    padding: 7px;
    object-fit: cover;
  }

  .card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #000000;
    font-family: 'Interstate-regular';
    padding-right: 7px;
  }

  .card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-left: 0;
    margin-top: 8px;
    color: #000000;
    font-family: 'Interstate-light';
  }

  .card-product .card-product-infos {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7px;
  }

  .card-product .card-product-infos-oddbox {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7px;

    h2 {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
      color: #000000;
      font-family: 'Interstate-regular';
      padding: 0px;
    }
  }

  .card-product .card-product-infos-calendar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    padding-right: 10px;
  }

  a {
    text-decoration: none;
  }

  .date-show{
    display: flex;
    padding-bottom: 3px;
    justify-content: space-evenly;
    justify-content: center;
    font-family: 'Interstate-regular';

    form {
      width: 42px;
      margin: 0px 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .date-show-name {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    font-family: 'Interstate-regular';

    p {
      font-family: 'Interstate-light';
      display: flex;
      font-size: 16px;
      margin-bottom: 15px;
      width: 42px;
      place-content: center;
    }
  }

  .number-btn{
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 2px #F2B63E solid;
    min-height: 35px;
    max-height: 35px;
    min-width: 35px;
    max-width: 35px;
    line-height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .date-bg {
    background-color: #F2B63E;
  }

  .arrow-r {
    color: black;
    font-size: 25px;
    position: absolute;
    top: 45px;
    left: 22px;
  }

  .arrow-l {
    color: black;
    font-size: 25px;
    position: absolute;
    top: 45px;
    right: 22px;
  }

.carousel {
  display: flex;
  flex-direction: column;

}

}

.name-review {
  position: relative;

  .fa-arrow-circle-right {
    position: absolute;
    top: 14px;
    right: 15px;
    font-size: larger;
    color: #2E5A36 !important;
  }

}
